# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\franc\OneDrive - Universidade do Algarve\universidade\3ºano\2ºSemestre\SPD\cloud-Deploy\multicloud\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
